*.[Oo]bj
*.[Bb]in
*.[Bb]i
*.suo
*.opensdf
*.sdf
*.xdc
*.xml
*.tlog
*.log
*.lastbuildstate
*.metagen
*.exe
*.pdb
*.dll
*.cache
*.manifest
*.txt
*.ilk
*.lib
*.user
*.aps
*.psess
*.vsp
bin/
Re2.Net/re2/lib/x64/debug/
Re2.Net/re2/lib/x64/release/
Re2.Net/re2/lib/x86/debug/
Re2.Net/re2/lib/x86/release/
Re2.Net/bin/
Re2.Net.Test/bin/
Re2.Net.Test/obj/
!Re2.Net.Test/mtent12.txt
